{% extends 'wrapper.html' %}
{% block content %} 
  <div class="container-fluid vh-100">
    <img class="exp w-100" src="{{setting.exhibit.image.url}}" alt="">
    <div class="row panel">
    </div>
    <div class="row header header-main align-items-center">
      <div class="col-4 text-center"><img class="img-fluid" src="/media/logo.png" alt=""></div>
      <div class="col-8"><h3>ЯМАЛО-НЕНЕЦКИЙ ОКРУЖНОЙ МУЗЕЙНО&#8209;ВЫСТАВОЧНЫЙ КОМПЛЕКС ИМЕНИ&nbsp;И.С.ШЕМАНОВСКОГО</h3></div>
    </div>
    <div class="row">
      <div class="col p-4 text-center"><h1>ДОБРО ПОЖАЛОВАТЬ!</h1></div>
    </div>
    <div class="row text-center cat">
    {% for category in category_list %}
      {% if category.active %}
        <div class="col-6 offset-3 p-4 mb-4 border border-white rounded-lg"><a class="stretched-link" href="{{category.url}}{% if category.num is not None %}/{{category.num}}{% endif %}">{{category.name}}</a></div>
      {% endif %}
    {% endfor %}
    <div class="col-6 offset-3 p-4 mb-4 border border-white rounded-lg"><a class="stretched-link" href="/afisha/info">информация</a></div>
    </div>
    <h2 class="address">MVK.YANAO.RU</h2>
  </div>
{% endblock %}