{% extends 'nav.html' %} {% block main %}
  <div class="row m-4 entry-list entry-list-xl overflow-auto">
    <div class="col">
      <div
        id="carouselEntry"
        class="carousel slide"
        data-ride="carousel"
        data-interval="0"
      >
        <div class="carousel-inner">
          {% for entry in entry_list %}
          {% if forloop.counter0 == id %}
          <div class="carousel-item active">
          {% else %}
          <div class="carousel-item">
          {% endif %}
            <div class="row">
              <div class="col-8 col-xl-5">
                {% if entry.detail %}
                <img class="w-100" src="{{ entry.detail.url }}" alt="" />
                {% else %}
                <img class="w-100" src="{{ entry.preview.url }}" alt="" />
                {% endif %}
              </div>
              <div class="col-4">
                <div class="row h-100">
                  {% if entry.date_start %}
                  <div class="col-12 duration">
                    {{ entry.date_start|date:"d.m.Y" }}{% if entry.date_end %} – {{ entry.date_end|date:"d.m.Y" }}{% endif %}
                  </div>
                  {% endif %} {% if entry.duration %}
                  <div class="col-12 duration">
                    {{ entry.duration|safe|linebreaksbr }}
                  </div>
                  {% endif %}
                  <div class="col-12 price align-self-end">
                    {% if entry.price %} {{ entry.price|safe|linebreaksbr }} 
                    {%else %}
                    <h4>СТОИМОСТЬ ПОСЕЩЕНИЯ</h4>
                        <h4><u>Постоянных экспозиций (Музей, 1 этаж):</u></h4>
                    <p>
                      Посетитель без льгот – 180 руб.<br>
                      Льготный – 90 руб.
                    </p>
                        <h4><u>Временных экспозиций (Музей, 2 этаж):</u></h4>
                    <p>
                      Посетитель без льгот – 90 руб.<br>
                      Льготный – 45 руб.
                    </p>
                    <p>
                      Примечание: ко льготным категориям относятся студенты, дети старше 8 лет и пенсионеры
                    </p>
                    <!--<p>Дети младше 16 лет – бесплатно</p>
                        <h4><u>Постоянных экспозиций (Музей, 1 этаж):</u></h4>
                    <p>
                        Посетитель без льгот – 180 руб.<br />
                        Пенсионер – 90 руб.<br />
                        Студент – 90 руб.<br />
                        Школьник старше 16 лет – 90 руб.
                    </p>
                        <h4><u>Временных экспозиций (Музей, 2 этаж):</u></h4>
                    <p>
                        Посетитель без льгот – 90 руб.<br />
                        Пенсионер – 45 руб.<br />
                        Студент – 45 руб.<br />
                        Школьник старше 16 лет – 45 руб.
                    </p>
                        <h4><u>Выставочного зала:</u></h4>
                    <p>
                        Посетитель без льгот – 100 руб.<br />
                        Пенсионер – 50 руб.<br />
                        Студент – 50 руб.<br />
                        Школьник старше 16 лет – 50 руб.
                    </p>-->
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-12 my-5 description">
                {{ entry.text|safe|linebreaks }}
              </div>
              <div class="col-12">
                <div class="card-columns">
                  {% for image in entry.images.all %}
                  <div class="card border-0">
                    <img class="card-img" src="{{ image.image.url }}" alt="" />
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
