{% extends 'wrapper.html' %}
{% block content %}
<div class="container-fluid vh-100 overflow-auto">
  <div class="row header header-entry align-items-center px-5 py-4">
    <div class="col-2 text-center">
      <img class="img-fluid" src="/media/logo.png" alt="" />
    </div>
    <div class="col-4">
      <strong
        >ЯМАЛО-НЕНЕЦКИЙ ОКРУЖНОЙ МУЗЕЙНО&#8209;ВЫСТАВОЧНЫЙ КОМПЛЕКС
        ИМЕНИ&nbsp;И.С.ШЕМАНОВСКОГО</strong
      >
    </div>
    <div class="col-5 offset-1">
      <strong>
        <p>режим работы:</p>
      </strong>
      <p>
        вт-пт 10:00 - 11:30, 12:00 - 13:30, 14:00 - 15:30, 16:00 - 17:30, 18:00
        - 19:30,
      </p>
      <p>
        сб-вс 11:00 - 12:30, 13:00 - 14:30, 15:00 - 16:30, 17:00 - 18:00, пн
        выходной
      </p>
    </div>
  </div>
    <div class="row m-4 entry-list overflow-auto">
      <div class="col">
        <div id="carouselEntry" class="carousel slide" data-ride="carousel" data-interval="0">
          <div class="carousel-inner">
            {% for entry in entry_list %}
            {% if forloop.counter0 == id %}
                <div class="carousel-item active">
            {% else %}
                <div class="carousel-item">
            {% endif %}
              <div class="row">
                <div class="col-8">
                  <img class="w-100" src="{{ entry.detail.url }}" alt="">
                </div>
                <div class="col-4">
                  <div class="row h-100">
                    <div class="col-12 duration">
                        {{ entry.date_start|date:"d.m.Y" }} – {{ entry.date_end|date:"d.m.Y" }}
                    </div>
                    <div class="col-12 price align-self-end">
                        {% if entry.price %}
                            {{ entry.price|linebreaksbr }}
                        {% else %}
                            <h4>СТОИМОСТЬ ПОСЕЩЕНИЯ</h4>
                            <p>Дети младше 16 лет – бесплатно</p>
                            <h4>Одной экспозиции:</h4>
                            <p>Посетитель без льгот – 80 руб.<br>
                                Пенсионер – 40 руб.<br>
                                Студент – 40 руб.<br>
                                Школьник старше 16 лет – 40 руб.</p>
                             <h4>Всех экспозиций:</h4>
                            <p>Посетитель без льгот – 150 руб.<br>
                                Пенсионер – 75 руб.<br>
                                Студент – 75 руб.<br>
                                Школьник старше 16 лет – 75 руб.</p>
                        {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-12 my-5 description">
                    {{ entry.text|linebreaks }}
                </div>
                <div class="col-12">
                    <div class="row no-gutters">
                    {% for image in entry.images.all %}
                        <div class="col-4 p-1">
                        <img class="w-100" src="{{ image.image.url }}" alt="">
                        </div>
                    {% endfor %}
                    </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row footer justify-content-center">
      <div class="col-2">
        <a class="carousel-control-prev" href="#carouselEntry" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Предыдущий</span>
        </a>
      </div>
      <div class="col-1 home">
        <a href="/afisha" class="stretched-link"></a>
      </div>
      <div class="col-2">
        <a class="carousel-control-next" href="#carouselEntry" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Следующий</span>
        </a>
      </div>
    </div>
</div>
{% endblock %}
