{% extends 'wrapper.html' %} 

{% block content %} 
  <div class="container-fluid vh-100 overflow-auto">
    <div class="row header header-entry align-items-center px-5 py-4">
      <div class="col-2 text-center"><img class="img-fluid" src="/media/logo.png" alt=""></div>
      <div class="col-4"><strong>ЯМАЛО-НЕНЕЦКИЙ ОКРУЖНОЙ МУЗЕЙНО&#8209;ВЫСТАВОЧНЫЙ КОМПЛЕКС
          ИМЕНИ&nbsp;И.С.ШЕМАНОВСКОГО</strong></div>
      <div class="col-5 offset-1">
        <strong>
          <p>режим работы:</p>
        </strong>
        <p>
          вт-пт 10:00 - 11:30, 12:00 - 13:30,
          14:00 - 15:30, 16:00 - 17:30, 18:00 - 19:30,
        </p>
        <p>
          сб-вс 11:00 - 12:30, 13:00 - 14:30,
          15:00 - 16:30, 17:00 - 18:00,
          пн выходной
        </p>
      </div>
    </div>
    <div class="row m-4 entry-list overflow-auto">
      <div class="col">
    <div class="row cat justify-content-center">
    {% for category in category_list %}
      {% if category.active %}
      <div class="col-7 mb-4">
        <div class="row no-gutters align-items-center border border-left-0 border-white rounded-lg">
          <div class="col-3">
            <img class="" src="{{category.icon.url}}" alt="">
          </div>
          <div class="col-9 text-center"><a href="{{category.url}}">{{category.name}}</a></div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>
        <div class="row">
        {% for entry in entry_list %}
          {% if entry.is_active %}
            {% if entry.width >= 2 %}
                <div class="col-12 py-2">
                    <a href="{{ url }}/{{ forloop.counter0 }}">
                        <img src="{{ entry.preview.url }}" alt="" class="w-100">
                    </a>
                </div>
            {% else %}
                <div class="col-6 py-2">
                    <a href="{{ url }}/{{ forloop.counter0 }}">
                        <img src="{{ entry.preview.url }}" alt="" class="w-100">
                    </a>
                </div>
            {% endif %}
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="row footer justify-content-center">
      <div class="col-1 home">
        <a href="/afisha" class="stretched-link"></a>
      </div>
    </div>
  </div>
{% endblock %}