{% extends 'nav.html' %}
{% block main %}
{% regroup dates_list by date_start|date:"F" as month_list %}
<div class="row m-4 entry-list overflow-auto">
  <div class="col">
    {% for month in month_list %}

            <div class="row">
                <div class="col-12 title-50 text-center py-4">
                {{month.grouper}}
                </div>
            {% for date in month.list %}

               <div class="col-6">
                {% if date.entry_dates.detail %}
                <img class="w-100" src="{{ date.entry_dates.detail.url }}" alt="" />
                {% else %}
                <img class="w-100" src="{{ date.entry_dates.preview.url }}" alt="" />
                {% endif %}
              </div>
              <div class="col-5">
                <div class="row h-100">
                  {% if date.date_start %}
                  <div class="col-12 duration">
                    {{ date.date_start|date:"d.m.Y" }}{% if date.date_end %} – {{ date.date_end|date:"d.m.Y" }}{% endif %}
                  </div>
                  {% endif %}
                  {% if date.entry_dates.duration %}
                  <div class="col-12 price">
                    {{ date.entry_dates.duration|safe|linebreaksbr }}
                  </div>
                  {% endif %}
                  {% if date.entry_dates.price %}
                  <div class="col-12 price align-self-end">
                    {{ date.entry_dates.price|safe|linebreaksbr }}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-12 my-2 duration">
                {{ date.entry_dates.text|safe|linebreaks }}
              </div>
            {% endfor %}
            </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
