{% extends 'wrapper.html' %} 

{% block content %} 
  <div class="container-fluid vh-100 overflow-auto">
    <div class="row info align-items-center description-ar">
      <div class="col-12 text-center px-5 pb-5">
        <h2>ЯМАЛО-НЕНЕЦКИЙ ОКРУЖНОЙ МУЗЕЙНО&#8209;ВЫСТАВОЧНЫЙ КОМПЛЕКС
          ИМЕНИ&nbsp;И.&nbsp;С.&nbsp;ШЕМАНОВСКОГО</h2>
      </div>
      <div class="col-6 p-5">
        <h3 class="text-center text-uppercase font-weight-bold">режим работы</h3><br>
        <p class="text-uppercase font-weight-bold duration">вторник – пятница</p><br>
        10:00 - 11:30, 12:00 - 13:30,<br>
        14:00 - 15:30, 16:00 - 17:30, 18:00 - 19:30<br><br>
        <p class="text-uppercase font-weight-bold duration">суббота – воскресенье</p>
        11:00 - 12:30, 13:00 - 14:30,<br>
        15:00 - 16:30, 17:00 - 18:00<br><br>
        <p class="text-uppercase font-weight-bold duration">понедельник – выходной</p>
        <br><br>
        <h3 class="text-center text-uppercase font-weight-bold">контакты</h3><br>
        сайт: mvk.yanao.ru<br>
        касса: 8 (34922) 4-78-34<br>
        заказ экскурсий: 8 (34922) 3-85-74<br>
        информотдел: 8 (34922) 4-70-13<br><br>
        <p class="text-center text-uppercase duration">Ещё больше информации
          в наших соц. сетях</p><br>
        <img class="w-100" src="/media/social.png" alt=""><br><br>
        <p class="text-center text-uppercase duration">Присоединяйтесь!</p>
      </div>
      <div class="col-6 p-5">
        <h3 class="text-center text-uppercase font-weight-bold">СТОИМОСТЬ ПОСЕЩЕНИЯ</h3><br>
        <p class="text-uppercase font-weight-bold duration"><u>Одной экспозиции:</u></p><br>
        посетитель без льгот – 80 руб.<br>пенсионер – 40 руб.<br>студент – 40 руб.<br>
        школьник старше 16 лет – 40 руб.<br><br>
        <p class="text-uppercase font-weight-bold duration"><u>Всех экспозиций:</u></p><br>
        посетитель без льгот – 150 руб.<br>пенсионер – 75 руб.<br>
        студент – 75 руб.<br>
        школьник старше 16 лет – 75 руб.<br><br>
        <p class="text-uppercase font-weight-bold duration"><u>Бесплатно:</u></p><br>
        дети младше 16 лет<br><br>
        Герои СССР, участники ВОВ, инвалиды ВОВ, приравненная к инвалидам и участникам ВОВ категория<br><br>
        инвалиды и лица их сопровождающие<br><br>
        дети младше 18 лет один раз в месяц (каждая первая суббота месяца)<br><br>
        дети сироты и оставшиеся без попечения родителей
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-6 p-5">
            <h3 class="text-center text-uppercase font-weight-bold">услуги и сервис</h3><br><br>
            <img class="w-100" src="/media/service.png" alt="">
          </div>
          <div class="col-6 p-5">
            <h3 class="text-center text-uppercase font-weight-bold">Правила посещения</h3><br>
            <img class="w-100" src="/media/regulations.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-12 p-5">
        <h3 class="text-center text-uppercase">другие культурные комплексы</h3><br>
        <img class="w-100" src="/media/partners.png" alt="">
      </div>
    </div>
    <div class="row footer justify-content-center">
      <div class="col-1 home">
        <a href="/afisha" class="stretched-link"></a>
      </div>
    </div>
  </div>
{% endblock %}