{% extends 'nav.html' %} {% block main %}
<div class="row m-4 entry-list overflow-auto cat justify-content-center">
  {% for entry in list %}
  <div class="col-11 m-4 rounded-lg text-center bg-muzart">
    <a class="stretched-link" href="{{url}}/0">
      <div class="row h-100">
        <div class="col-9 m-auto">{{entry.title}}</div>
      </div>
    </a>
  </div>
  {% endfor %} 
  {% for category in category_list %} 
  {% if category.active %}
  <div class="col-11 m-4 rounded-lg text-center bg-muzart">
    <a class="stretched-link" href="{{url}}/{{forloop.counter}}">
      <div class="row h-100">
        <div class="col-9 m-auto">{{category.name}}</div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}