{% extends 'nav.html' %}
{% block main %}
<div class="row m-4 entry-list overflow-auto">
  <div class="col">
    <div
      id="carouselEntry"
      class="carousel slide"
      data-ride="carousel"
      data-interval="0"
    >
      <div class="carousel-inner">
        {% if id == 0 %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
            {% for entry in entry_list %}
            <div class="row">
              <div class="col-12 text-uppercase text-center py-4 px-5">
                <h2>{{ entry.title }}</h2>
              </div>
              <div class="col-6">
                {% if entry.detail %}
                <img class="w-100" src="{{ entry.detail.url }}" alt="" />
                {% else %}
                <img class="w-100" src="{{ entry.preview.url }}" alt="" />
                {% endif %}
              </div>
              <div class="col-5">
                <div class="row h-100">
                  {% if entry.date_start and entry.date_end %}
                  <div class="col-12 duration">
                    {{ entry.date_start|date:"d.m.Y" }} – {{ entry.date_end|date:"d.m.Y" }}
                  </div>
                  {% endif %}
                  {% if entry.duration %}
                  <div class="col-12 price">
                    {{ entry.duration|safe|linebreaksbr }}
                  </div>
                  {% endif %}
                  {% if entry.price %}
                  <div class="col-12 price align-self-end">
                    {{ entry.price|safe|linebreaksbr }}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-12 my-2 description">
                {{ entry.text|safe|linebreaks }}
              </div>
              <div class="col-12">
                <div class="row no-gutters">
                  {% for image in entry.images.all %}
                  <div class="col-3 p-2">
                    <img class="w-100" src="{{ image.image.url }}" alt="" />
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% for category in category_list %}
            {% if forloop.counter == id %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
              <div class="row justify-content-center">
                {% if  forloop.counter == 1 %}
                    <div class="col-12 text-center py-4 description">
                        <h2 class="text-uppercase">{{ category.name }}</h2>
                        {{ category.text|safe|linebreaks }}
                    </div>
                    {% for entry in category.entry_set.all %}
                    <div class="col my-3">
                        {% if entry.detail %}
                        <img class="w-100" src="{{ entry.detail.url }}" alt="" />
                        {% else %}
                        <img class="w-100" src="{{ entry.preview.url }}" alt="" />
                        {% endif %}
                    </div>
                    <div class="col-8 mt-4">
                        <div class="row h-100">
                            <div class="col-12 price align-self-end description-ar">
                                {{ entry.price|safe|linebreaksbr }}
                            </div>
                            <div class="col-12 description-ar align-self-end">
                                {{ entry.text|safe|linebreaks }}
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    {% endfor %}
                {% else %}
                    {% for entry in category.entry_set.all %}
                    <div class="col-12 text-uppercase">
                    <h2>{{ entry.title }}</h2>
                    </div>
                    <div class="col-7">
                    {% if entry.detail %}
                    <img class="w-100" src="{{ entry.detail.url }}" alt="" />
                    {% else %}
                    <img class="w-100" src="{{ entry.preview.url }}" alt="" />
                    {% endif %}
                    </div>
                    <div class="col-4">
                    <div class="row h-100">
                        {% if entry.date_start and entry.date_end %}
                        <div class="col-12 duration">
                        {{ entry.date_start|date:"d.m.Y" }} – {{ entry.date_end|date:"d.m.Y" }}
                        </div>
                        {% endif %}
                        {% if entry.duration %}
                        <div class="col-12 price">
                        {{ entry.duration|safe|linebreaksbr }}
                        </div>
                        {% endif %}
                        {% if entry.price %}
                        <div class="col-12 price align-self-end">
                        {{ entry.price|safe|linebreaksbr }}
                        </div>
                        {% endif %}
                    </div>
                    </div>
                    <div class="col-12 my-2 description-ar">
                    {{ entry.text|safe|linebreaks }}
                    </div>
                    <div class="col-12">
                    <div class="row no-gutters">
                        {% for image in entry.images.all %}
                        <div class="col-3 p-2">
                        <img class="w-100" src="{{ image.image.url }}" alt="" />
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                    {% endfor %}
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
