{% extends 'nav_slider.html' %} 
{% block main %}
      <div
        id="carouselEntry"
        class="carousel slide"
        data-ride="carousel"
        data-interval="0"
      >
        <div class="carousel-inner">
          {% for entry in entry_list %}
          {% if forloop.counter0 == 0 %}
          <div class="carousel-item active">
          {% else %}
          <div class="carousel-item">
          {% endif %}
                {% if entry.preview %}
                <img class="d-block w-100" src="{{ entry.preview.url }}" alt="" />
                {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
  {% endblock %}