html {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

body {
    color: white;
    background: url("/media/bg.png") no-repeat;
    background-size: cover;
}

.header {
    background-color: rgba(255, 255, 255, 0.2);
}

.header-main {
    height: 223px;
}

.panel {
    height: 104px;
}

.cat a {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: white;
}

.border {
    border: 2px solid #dee2e6!important;
}

h1 {
    font-weight: 600;
    font-size: 75px;
    line-height: 91px;
}

h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.rounded-lg {
    border-radius: 10px!important;
}

.exp {
    position: absolute;
    right: 0;
    bottom: 0;
}

.address {
    position: absolute;
    right: 79px;
    bottom: 32px;
}