html {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

body {
    color: white;
    background: url("/media/bg.png") no-repeat;
    background-size: cover;
}

.header {
    background-color: rgba(255, 255, 255, 0.2);
}

.footer {
    background-color: rgba(255, 255, 255, 0.2);
    height: 100px;
}

.header-main {
    height: 223px;
}

.header-entry {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
}

.panel {
    height: 104px;
}

.cat a {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: white;
}

.border {
    border: 2px solid #dee2e6!important;
}

h1 {
    font-weight: 600;
    font-size: 75px;
    line-height: 91px;
}

h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.rounded-lg {
    border-radius: 10px!important;
}

.exp {
    position: absolute;
    right: 0;
    bottom: 0;
}

.address {
    position: absolute;
    right: 79px;
    bottom: 32px;
}

.entry-list {
    height: 1580px;
}

.entry-list::-webkit-scrollbar {
    width: 20px;
    background-color: rgba(231, 243, 248, 0.3);
    border-radius: 10px;
}

.entry-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-color: rgba(231, 243, 248, 0.8);
}

.home{
    background: url("/media/home.png") no-repeat center;
    background-size: contain;
    margin: 10px;
}